*{
    border: 0;
    padding: 0;
    margin: 0;
    font-family: 'open sans',  sans-serif; 
     /* background-color: rgb(136, 19, 19); */
     /* background-color:  rgb(235, 229, 229);  */
     /* font-family: 'Roboto',  sans-serif; */

   
 }

 
body {

    background-image: url("https://media.istockphoto.com/id/1795167728/es/foto/crecimiento-en-los-negocios-y-las-finanzas-crecimiento-de-gr%C3%A1ficos-y-tablas.jpg?s=612x612&w=0&k=20&c=_Fe2EP-kZdto7UEA73ZAVhn8-dACoTgqo7gunKCfa-k=");

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    /* background-size: 100%; */

  }
